<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="braccio_ros2_control" params="name initial_positions_file">
        <xacro:property name="initial_positions" value="${xacro.load_yaml(initial_positions_file)['initial_positions']}"/>

        <ros2_control name="${name}" type="system">
            <hardware>
                <!-- By default, set up controllers for simulation. This won't work on real hardware -->
                <plugin>mock_components/GenericSystem</plugin>
            </hardware>
            <joint name="arm_rot">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['arm_rot']}</param>
                </state_interface>
            </joint>
            <joint name="arm_1_up_down">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['arm_1_up_down']}</param>
                </state_interface>
            </joint>
            <joint name="arm_2_up_down">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['arm_2_up_down']}</param>
                </state_interface>
            </joint>
            <joint name="arm_3_up_down">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['arm_3_up_down']}</param>
                </state_interface>
            </joint>
            <joint name="rot_grasp">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['rot_grasp']}</param>
                </state_interface>
            </joint>
            <joint name="grasp_ctrl">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['grasp_ctrl']}</param>
                </state_interface>
            </joint>

        </ros2_control>
    </xacro:macro>
</robot>
