[submodule "src/zenoh-c"]
	path = src/zenoh-c
	url = https://github.com/eclipse-zenoh/zenoh-c.git
[submodule "src/zenoh-cpp"]
	path = src/zenoh-cpp
	url = https://github.com/eclipse-zenoh/zenoh-cpp.git
