<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="braccio">

  <!-- Import r6bot macro -->
  <xacro:include filename="$(find braccio_simulation)/model/urdf/braccio.urdf.xacro"/>

  <!-- create link fixed to the "world" -->
  <link name="world"/>

  <!-- <xacro:r6bot_description/> -->

  <!-- Import r6bot ros2_control description -->
  <xacro:include filename="$(find braccio_control)/ros2_control/r6bot.ros2_control.xacro" />
  <xacro:r6bot_ros2_control name="braccio"/>

</robot>
