<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="braccio">

  <!-- Import r6bot macro -->
  <xacro:include filename="$(find braccio_simulation)/model/urdf/braccio_description.urdf.xacro"/>

  <!-- create link fixed to the "world" -->
  <link name="world"/>

  <xacro:braccio_description/>

</robot>